* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Navbar styles */
.navbar * {
  color: white;
}
.navbar {
  /* Add styles for navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 44, 44);
  padding: 10px 5vw;
}

.logo {
  /* Add styles for the logo */
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  /* Add styles for logo image */
  border-radius: 100px;
}

.nav-links a {
  /* Add styles for nav links */
  text-decoration: none;
  margin-right: 20px;
  transition: opacity 0.2s ease-in;
}

.nav-links a:hover {
  /* Add hover styles for nav links */
  opacity: 0.6;
}

.close-btn, .open-btn {
  color: white;
  background-color: transparent;
  border: none;
  display: none;
}